  <div class="col-sm-8 col-sm-offset-2" id="contact-form">
    <%= form_for @suggest do |f| %>
    <form>
      <fieldset class="form-group">
        <%= f.text_field :name, :required => true, placeholder: "NAME", class: "form-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.text_field :email, :required => true, placeholder: "EMAIL", class: "form-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.text_area :message, :as => :text, :required => true, placeholder: "MESSAGE", class: "form-control" %>
      </fieldset>

        <%= f.submit 'SEND MESSAGE', :class=> "btn pull-right" %>
    </form>
    <% end %>
  </div>